@media (max-width:1310px) {
    .romantic__font-block {
        background-size: 6%, 190px 320px;
    }
}

@media (max-width:1190px) {
    .scary__font-block {
        background-size: 450px 100%, 160px;
    }
    .scary__font-descr {
        color: #FFFFFF;
        width: 415px;
        height: 100px;
    }
    .scary__font-descr__title {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .scary__font-descr__text1, .scary__font-descr__text2 {
        font-size: 15px;
        line-height: 140%;
    }
    .scary__font-descr__text1 {
        margin-bottom: 15px;
    }
    .funny__font-block {
        height: 1000px;
        background-position: 0% 100%, 50% 50%, 100% 100%;
    }
    .business__font-block {
        background-size: 413px 100%;
    }
}

@media (max-width:1060px) {
    .romantic__font-block__inner {
        flex-wrap: wrap;
    }
    .romantic__font-block__descr {
        max-width: 430px;
        margin: 50px auto;
    }
    .romantic__font-block__descr-img {
        margin: 10px auto;
    }
    .romantic__font-block__descr-text1, .romantic__font-block__descr-text2 {
        text-align: center;
    }
    .romantic__font-block {
        background-position: -1% 103%, 100% -9%;
    }
    .romantic__font-block__descr-title {
        text-align: center;
    }
}

@media (min-width:992px) {
    .header__menu-list {
        display: flex !important;
    }
}

@media (max-width:992px) {
    .btn__div {
        display: block;
    }
    .header__menu-list {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        text-align: center;
        border: 2px solid #000;
        background: #fff;
        z-index: 5;
    }
    .header__menu-link {
        margin-right: 0;
        border-bottom: 2px solid gray;
    }
    .header__menu-link a {
        display: block;
        padding: 15px 0;
        width: 100%;
    }
    .header__menu-link a:hover {
        font-size: 21px;
        border: 3px solid rgb(0, 0, 0);
        background-color: rgba(136, 127, 135, 0.445);
        padding-left: 40px;
        transition: 0.2s;
    }
    .scary__font-descr {
        left: 50%;
        top: 54%;
        margin-right: -50%;
        transform: translate(-50%, 162%);
    }
    .scary__font-block {
        height: 1000px;
        background-position: 50% 100%, 100% 1%;
        background-size: 50% 550px, 160px;
    }
    .romantic__font-block {
        background-size: 10%, 190px 320px;
    }
    .business__font-block {
        background-size: 79% 50%;
        background-position: 50% 2%;
    }
    .business__font-block {
        height: 900px;
    }
    .business__font-block__descr {
        position: absolute;
        top: 555px;
        left: 88px;
        right: 0;
    }
}

@media (max-width:910px) {
    .funny__font-block {
        background-size: 44%, 40%, 44%;
    }
}

@media (max-width:750px) {
    .scary__font-block {
        background-size: 100% 602px, 160px;
    }
    .funny__font-block__title {
        font-size: 30px;
        letter-spacing: 0.03em;
    }
    .angry__font-block {
        background-position: 50% 0%, 90% 100%, 100% 5%;
        background-size: 40%;
    }
    .angry__font-block__descr-text1, .angry__font-block__descr-text2 {
        font-size: 14px;
    }
    .angry__font-block__descr-title {
        font-size: 30px;
    }
}

@media (max-width:650px) {
    .romantic__font-block__descr-img {
        flex-wrap: wrap;
    }
    .romantic__font-block__descr-img {
        display: block;
        margin: 0 auto;
    }
    .romantic__font-block__descr-img1 {
        margin-right: 0;
        margin-left: 0;
    }
    .romantic__font-block__descr-title {
        text-align: center;
    }
    .romantic__font-block {
        background-size: 25%, 190px 320px;
    }
    .romantic__font-block {
        background-position: -1% 103%, 100% -6%;
    }
    .business__font-block__descr__text-part1 {
        flex-wrap: wrap;
    }
    .business__font-block__descr__text1 {
        margin-right: 0;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .business__font-block__descr__text2 {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .business__font-block__descr {
        top: 460px;
        right: 0;
        left: 0;
    }
    .business__font-block {
        background-size: 99% 43%;
        background-position: 50% 0%;
    }
    .business__font-block__title {
        font-size: 30px;
    }
}

@media (max-width:460px) {
    .scary__font-descr {
        width: 100%;
    }
    .scary__font-descr__text1, .scary__font-descr__text2 {
        font-size: 10px;
        line-height: 140%;
    }
    .scary__font-descr__text1 {
        margin-bottom: 32px;
    }
    .funny__font-block__descr {
        font-size: 14px;
    }
    .funny__font-block {
        height: 989px;
        background-position: 50% 95%, 50% 45%, 50% 71%;
    }
    .business__font-block__descr__text1, .business__font-block__descr__text2 {
        font-size: 13px;
    }
    .business__font-block__descr__text3 {
        font-size: 13px;
        margin-top: 20px;
    }
    .romantic__font-block__descr-title {
        font-size: 22px;
    }
}

@media (max-width:400px) {
    .btn__div {
        right: 0;
    }
    .header__name-student {
        width: 200px;
        font-size: 14px;
        margin-left: 0;
        line-height: 140%;
        letter-spacing: 0.02em;
    }
    .business__font-block__descr__text3 {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .angry__font-block__descr-text1, .angry__font-block__descr-text2 {
        font-size: 13px;
    }
}